<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Welcome professtional</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('phome',uid = uid)}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('psearch',uid = uid)}}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pstats',uid = uid)}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>