{% extends './layout/simple.html' %}
{% block body %}
{% include './Professional/navbarp.html' %}

<a href="{{url_for('ppedit',uid = uid)}}"><button type="button" class="btn btn-warning"> Profile edit</button></a>
<h3>Today service requests</h3>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Contact No</th>
        <th>Location</th>
        <th>Pincode</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for i in ser_req %}
        {% if i.status == 'requested' and i.proffesional_id == proid %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ custdet[i.customer_id].name }}</td>
            <td>{{ custdet[i.customer_id].phone }}</td>
            <td>{{ custdet[i.customer_id].location }}</td>
            <td>{{ custdet[i.customer_id].pincode }}</td>
            <td><a href="{{url_for('accept' ,uid = uid,serid = i.id)}}"><button>accept</button></a><a href = "{{url_for('reject' ,uid = uid,serid = i.id)}}"><button>reject</button></a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
 <h3>Closed services </h3>
  <table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Contact No</th>
        <th>Location</th>
        <th>Pincode</th>
        <th>Date</th>
        <th>Rating</th>
    </thead>
    <tbody>
        {% for i in ser_req %}
        {% if i.status == 'closed' and i.proffesional_id == proid%}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ custdet[i.customer_id].name }}</td>
            <td>{{ custdet[i.customer_id].phone }}</td>
            <td>{{ custdet[i.customer_id].location }}</td>
            <td>{{ custdet[i.customer_id].pincode }}</td>
            <td>{{ i.dateofcomplete }}</td>
            <td>{{ i.rating }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>


{% endblock %}